<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    hii
    {{que}}
    <form method="post">
        {% csrf_token %}
    {{op1}}<input type="radio" value="{{op1}}" name='r'>
    {{op2}}<input type="radio" value="{{op2}}" name='r'>
    {{op3}}<input type="radio" value="{{o3}}" name='r'>
    {{op4}}<input type="radio" value="{{op4}}" name='r'>
    <input type="submit">
    </form>
</body>
</html>