{% include 'base.html' %}
<style>
    .about{
        border-style: solid;
        margin: 3px;
    }
.c {
        background-color:yellowgreen;
        font-size: 30px;
        margin-left: 2px;
        text-align: justify;
    }
</style>
<body bgcolor="black" class="style3">
<div class="container mt-3">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">About</h1>
          <h4 class="display-4 c">
           <b> Affiliated to Savitribai Phule Pune University

            NAAC Accredited 'A+' Grade College with 3.44 CGPA
        </b>
          </h4>
          <p class="lead">
            Rayat Shikshan Sanstha, Satara is a premier educational institution which has invited the attention of international educational fraternity towards its recognition as the biggest educational institution in Asia both in quality and quantity parameters. The Founder of Sanstha, Dr. Karmaveer Bhaurao Patil had an incisive understanding of the social ills that beset his times and fully realized the dire need of the spread of education. From the very beginning, Sanstha has laid emphasis on the education for the downtrodden and the poor that really form the major bulk of the society.

            Today, Sanstha runs 42 senior colleges, a newly added 1 research institute, 438 secondary schools, 8 training colleges, 42 primary schools, 31 pre-primary schools, 80 cosmopolitan hostels, 7 administrative offices, 8 ashramshalas, and 57 ancillary branches. It is spread over in 15 districts of Maharashtra and 1 district of Karnataka with 14627 employees belonging to different 170 castes and communities and 4 Lakh 54 Thousand 165 students.
            <br>
            <b>Contact Us.  </b>
            <br>
            <b>E-mail: rbnbcollege@gmail.com</b>    
          </p>
        </div>
      </div>
    <h2 class="about">

</h2>

</div>
</body>